<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spell Bot</title>
    <link rel="stylesheet" href="../static/form.css">
    <style>
        
    </style>
</head>
<body>
    <div class="welcome-container">
        <h1 class="animated-text">Welcome to Spell Bot</h1>
    </div>

    <div class="form-container">
        <form method="post" action="{% url 'spell_check' %}">
            {% csrf_token %}
            <h2>Spell Bot</h2>
            <label for="text_to_check">Enter text for spell check:</label>
            <textarea name="text_to_check" rows="6" placeholder="Type or paste your text here"></textarea>
            <input type="submit" value="Check Spelling">
        </form>

        {% if feedback_message %}
            <p class="error-message">{{ feedback_message }}</p>
        {% endif %}
    </div>

    <div class="text-container">
        <p>
            Spelling checkers, a ubiquitous tool in our digital world, have greatly benefited from machine learning techniques. In this article, we will explore how machine learning is transforming spelling checkers and making written communication more efficient and error-free. Machine learning-powered spelling checkers have elevated the quality of written communication by providing more accurate, context-aware, and user-specific suggestions. As technology continues to evolve, these tools are likely to become an integral part of our daily writing routines, helping us communicate more effectively and efficiently. Embracing this technology can save time, reduce errors, and enhance the overall quality of our written content.
        </p>
    </div>
    {% if feedback_message %}
        <p class="error-message">{{ feedback_message }}</p>
    {% endif %}

</body>
</html>
